# Aliases
alias c='clear'
alias smc='sudo mc'

alias ls='ls --color=auto'
alias ll='ls -la --color=auto'
alias l.='ls -d .* --color=auto'

alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

alias ..='cd ..'
alias diff='colordiff'
alias mount='mount |column -t'

alias path='echo -e ${PATH//:/\\n}'
alias now='date +"%T"'
alias nowtime=now
alias nowdate='date +"%d-%m-%Y"'

alias ports='netstat -tulanp'

alias rm='rm -I --preserve-root'
alias mv='mv -i'
alias cp='cp -i'
alias ln='ln -i'
alias chown='chown --preserve-root'
alias chmod='chmod --preserve-root'
alias chgrp='chgrp --preserve-root'

alias root='sudo -i'
alias su='sudo -i'

alias wget='wget -c'

alias df='df -H'
alias du='du -ch'
alias top='btop'

alias n='nano'
alias sn='sudo nano'
alias sm='sudo mount'
alias reload='sudo systemctl reload'
alias sc='sudo systemctl'
alias yeet='yay -Rns'

if [ $UID -ne 0 ]; then
    alias shutdown='sudo shutdown'
    alias reboot='sudo reboot'
    alias pacman='sudo pacman'
    alias systemctl='sudo systemctl'
fi
